<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<html>
   <head>
       <H1>My Jupyter Notebook on IBM Watson Studio</H1>
    </head>

<body>
<b>NATASHA</b>
        <p>Student</p>

<p><i>"I am interested in data science because i will get to learn through every step by working in this field "</i></p>

<H3>Add two numbers and print the result:</H3>

In [8]:
a=3
b=2
c=a+b
print(c)

5

<p><b>Numbered List</b><p>
<ol>
<li>List 1</li>
<li>List 2</li>
<li>List 3</li>
    
<p><b>Bulleted List</b></p>
<ul>
<li>Bulleted 1</li>
<li>Bulleted 2</li>
<li>Bulleted 3</li>
    </ul>
    
<table>
<tr>
    <th>ID</th>
    <th>Day</th>
    <th>Date</th>
    </tr>
    <tr>
<td>1</td>
<td>Sunday</td>
<td>01/01/2023</td>
</tr>
<tr>
<td>2</td>
<td>Monday</td>
<td>02/01/2023</td>
</tr>
<tr>
<td>3</td>
<td>Tuesday</td>
<td>03/01/2023</td>
</tr>
</table>